@font-face {
	font-family: NSMBW; 
	src: url('NSMBW.otf'); 
} 

body {
	background-image: url('bg.png');
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
	font-family: NSMBW;
}

.important {
	color: #ff0000;
}

iframe {
	width: 640px;
	height: 360px;
}
